body {
  background-color: gainsboro;
}
table {
    background-color: white;
}
a:hover {
    background-color: gray;
}
tr:nth-child(odd) {
    background: whitesmoke;
} 
tr:hover {
    background: burlywood;
}
img:hover {
    transform : scale(2);
}
@media only screen and (max-width:50px) {
    body {
        background-color: lightblue;
    }
}